// also contains navbar

doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    ul.navbar 
      li hamburger
      li search 
      li home 
      li account
