img {
    width: 65%;
    height: auto;
    padding-bottom: 10px;
}

.calculatorsPage {
    padding: 30px;
    text-align: center;
}

.calc {
    padding-top: 70px;
}

#calculator {
    padding-top: 20px;
}

.row {
    padding-top: 10px;
}

.column {
    padding-top: 10px;
}

#button{
    padding-top: 10px;
}